[Unit]
Description=OpenConnect VPN - %i
Wants=network.target

[Service]
Type=forking
PIDFile=/run/openconnect@%i.pid
ExecStart=bash -c '/usr/bin/openconnect-service-start.sh %i'

KillSignal=SIGINT
StandardOutput=journal
